<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.eclipse.io.prometheusmetrics.log4j2">
    <Appenders>
        <Prometheus name="METRICS"/>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="METRICS"/>
        </Root>
    </Loggers>
</Configuration>